<h2 class="page-header">{{category.name}}</h2>

<div class="row">
    <div class="col-md-9">
        <div class="row">
        <section ng-repeat="section in category.sections" class="col-md-4">
            <h3>{{section.name}}</h3>
            <ul class="list-group">
                <li ng-repeat="article in section.articles" class="list-group-item">
                    <strong>{{article.rating}}</strong>
                    <button class="btn btn-default btn-xs" ng-click="article.rating = article.rating + 1"><span class="glyphicon glyphicon-arrow-up"></span></button>
                    <button class="btn btn-default btn-xs" ng-click="article.rating = article.rating - 1"><span class="glyphicon glyphicon-arrow-down"></span></button>
                    <a href="#">{{article.name}}</a>
                </li>
            </ul>
        </section>
    </div>
</div>
    <div class="col-md-3">
        <div class="well">
            <h3>People who knows {{category.name}}</h3>
            <ul class="list-group">
                <li ng-repeat="person in category.people" class="list-group-item">
                    <a href="#">{{person.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>