<div class="container">
	<div class="row">
        <div class="col-md-12">

					<a href="#" class="btn btn-success" ng-click="open()">Me</a>
					<script type="text/ng-template" id="myModalContent.html">
						<div class="modal-header">
							<h3 class="modal-title">I am a:</h3>
						</div>
						<div class="modal-body">
							<span class="btn-group">
							 	<input type="checkbox" /> Developer
								<input type="checkbox" /> Designer
								<input type="checkbox" /> PM

								<!--<a ng-repeat="item in items" ng-click="selected.item = item"
								   class="btn {{item == selected.item ? 'btn-primary' : 'btn-default' }}">{{ item }}</a>-->
							</span>
						</div>
						<div class="modal-header">
							<h3 class="modal-title">I am interested in:</h3>
						</div>
						<div class="modal-body">
							<span class="btn-group">
								<input type="checkbox" /> Front-end
								<input type="checkbox" /> Back-end
								<input type="checkbox" /> Design
							</span>
						</div>
						<div class="modal-footer">
							<button class="btn btn-success" ng-click="cancel()">OK</button>
							<button class="btn btn-default" ng-click="cancel()">Cancel</button>
						</div>
					</script>

      		<div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" placeholder="Search for tech or people etc.." />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
	</div>
</div>

<div class="container main-categories">
	<div class="row">
        <div class="col-md-3 button" ng-click="showTechUsed = !showTechUsed">
			<h1>Tech</h1>
        </div>
		<div class="col-md-5 button">
			<h1>Design</h1>
		</div>
		<div class="col-md-3 button">
			<h1>PM stuff</h1>
		</div>
	</div>
</div>

<div class="technologies" ng-show="showTechUsed" ng-click="chartClicked()">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Technologies used in our company:</h2>
				<canvas id="pie" class="chart chart-pie"
					chart-data="languages.data"
					chart-labels="languages.labels"
					chart-options="options">
				</canvas>
			</div>
		</div>
	</div>
</div>

<div ng-show="showCategoryUsed">
	<h2 class="page-header">{{category.name}} technologies used in our company:</h2>
	<div class="technologies">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<canvas id="pie2" class="chart chart-pie"
					    chart-data="category.childrenData.data"
						chart-labels="category.childrenData.labels"
						chart-options="options">
				</div>
			</div>
		</div>
	</div>

	<div class="row">
	    <div class="col-md-9">
	        <div class="row">
	        <section ng-repeat="section in category.sections" class="col-md-4">
	            <h3>{{section.name}}</h3>
	            <ul class="list-group">
	                <li ng-repeat="article in section.articles" class="list-group-item">
	                    <strong>{{article.rating}}</strong>
	                    <button class="btn btn-default btn-xs" ng-click="article.rating = article.rating + 1"><span class="glyphicon glyphicon-arrow-up"></span></button>
	                    <button class="btn btn-default btn-xs" ng-click="article.rating = article.rating - 1"><span class="glyphicon glyphicon-arrow-down"></span></button>
	                    <a href="#">{{article.name}}</a>
	                </li>
	            </ul>
	        </section>
	    </div>
	</div>
	    <div class="col-md-3">
	        <div class="well">
	            <h3>People who knows {{category.name}}</h3>
	            <ul class="list-group">
	                <li ng-repeat="person in category.people" class="list-group-item">
	                    <a href="#">{{person.name}}</a>
	                </li>
	            </ul>
	        </div>
	    </div>
	</div>
</div>
